#log data
data/*
!data/.geetkeep

#Uploaded files
Home/*
!Home/Portal.html
!Home/Commands.html
!Home/Todo.html
!Home/useful-info
!Home/commands
!Home/Dashboard.json

#my own to do list
to-do.txt
#server password
config.json

#ypthon cache
__pycache__/
*.pyc
